<%- include('./partials/navbarArticle')-%>
<link rel="stylesheet" href="/css/article.css">

<!-- Article -->

    <div class="container">
      <% articles.forEach(function(entry) {%>
      <div class="photo">
        <img src="<%=entry.image%>" class="card-img" alt="..." style="width:12em;" name="image">
      </div>
      <div class="text">
        <h1><%=entry.title%></h1>
        <p><%-entry.content%></p>
        <%});%>
      </div> 
   </div>
  
  <!-- espace commentaire  -->
  <section class="commentaire">
   <form role="form" action="/singlePage/article/:postId" method="POST">
        <div class="container2" style="margin-top: 100px; margin-bottom: 50px;">
          <h1 style="text-align: center; text-transform: uppercase;margin-bottom: 30px;">Commentaire</h1>
          <div class="row">
            <div class="col-lg-8 col-md-12 mx-auto">
                <div class="control-group">
                  <div class="form-group floating-label-form-group controls">
                    <input type="text" class="form-control" placeholder="Ajouter un comentaire" name="content">
                    <p class="help-block text-danger"></p>
                    <button type="submit" class="btn btn-primary" id="sendMessageButton">Ajouter Commentaire</button>
                  </div>
                </div>
              </div>
           </div>
        </div>
        <br>

        <%commentaire.forEach(function(entry) {%>
          <div class="row">
            <div class="col-lg-8 col-md-12 mx-auto">
          <div class="control-group" >
            <div class="form-group floating-label-form-group controls">
              <h3 class="form-control"><%=entry.firstname%> <%=entry.lastname%></h3>
              <h6 class="form-control" style="margin-top: -20px;">Posté le <%=entry.created%></h6>
              <p class="form-control"><%=entry.content%></p>
            </div>
          </div>
        </div>
      </div>
          <%});%>

    </form>
  
            

            

</section>
            
     
<%- include('./partials/footer')-%>
 