<%- include('./partials/head')-%>
<link rel="stylesheet" href="/css/index.css">

<!-- articles -->
<div class="section1">
    <div class="container">
        <div class="card-body">
            <% articles.forEach(function(entry) {%>
            <a href="/singlePage/article/<%=entry.postId%>">
                <h2 class="card-title"><%=entry.title%></h2>
            </a>
            <p class="card-text"><%=entry.description%></p>
            <p class="post-meta">Posté le <%=entry.dateCreated%>
                <hr>
            </p>
            <%});%>
        </div>
    </div>
</div>

<!-- Video -->
<div class="ParaVideo">
    <video autoplay muted loop src="/video/DB Super.mp4" autostart="false"></video>
</div>


<!-- Carte en pagaille avec recherche -->
<div class="section2">
    <div class="titre" style="margin-bottom: 30px">
        <h1 class="section2-h1"> Manga en Pagaille</h1>
        <input type="text" id="Search" onkeyup="myFunction()" placeholder="Recherche un Manga" title="Type in a name">
    </div>

    <div class="landing-section">
        <div class="cards">
            <% ListeManga.forEach(function(entry) {%>
            <div class="carte" style="width: 13rem;">
                <img style="width: 13rem;" src="<%=entry.image%>" class="card-img-top" alt="..."
                    onclick="openmodal('<%=JSON.stringify(entry)%>')">
                <a>
                    <h6><%=entry.title%></h6>
                    <p style="font-size: 10px;"><%=entry.name%></p>
                </a>
            </div>
            <%});%>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Synopsis</h5>
                    <hr>
                    <div class="description">
                        <p class="paragraphe" id="modalDescription"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<%- include('./partials/footer')-%>