<%- include('./partials/head')-%>
<link rel="stylesheet" href="/css/index.css">



<!-- articles -->
<div class="section1">
    <div class="card-body">
        <% articles.forEach(function(entry) {%>
        <a href="/singlePage/article/<%=entry.postId%>">
            <h2 class="card-title"><%=entry.title%></h2>
        </a>
            <p class="card-text"><%=entry.description%></p>
        <p class="post-meta">Posté le <%=entry.dateCreated%>
            <hr></p>
        <%});%>
    </div>
</div>



<%- include('./partials/footer')-%>

