<%- include('./partials/head')-%>
<link rel="stylesheet" href="/css/index.css">

<!-- articles -->
<div class="container">
    <div class="card-body">
        <% articles.forEach(function(entry) {%>
        <a href="/singlePage/article/<%=entry.postId%>">
            <h2 class="card-title"><%=entry.title%></h2>
        </a>
            <p class="card-text"><%=entry.description%></p>
        <p class="post-meta">Posté le <%=entry.dateCreated%>
            <hr></p>
        <%});%>
    </div>
</div>

<div class="ParaVideo">
    <video autoplay muted loop src="/video/DB Super.mp4" autostart="false"></video>
</div>


<div class="ParaImage bg2">
    <div class="container">
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero similique hic, corporis autem est minus saepe officia a eaque rem ipsa minima iusto perspiciatis numquam tempora asperiores ullam inventore perferendis?
        Esse, sit? Aliquid, ratione dignissimos soluta earum est iure mollitia. Odit ea eos accusantium temporibus facere a dolor perspiciatis quae dignissimos hic, modi expedita consequatur, nihil aspernatur corporis amet debitis.
        Dicta, eligendi, praesentium fugit, voluptatum id illum animi alias enim explicabo nesciunt corrupti voluptatibus atque. Mollitia, quibusdam exercitationem! Impedit architecto similique facilis! Quos eius at sed expedita dolorum iure repellat?
        Voluptate quis aliquam, accusamus aperiam magni nemo quisquam illo maiores alias! Ipsa veniam id et reiciendis possimus accusamus quo delectus, vero vel rerum itaque laboriosam deleniti tempore saepe magnam ut.
        Officia corrupti aperiam quo cum minima illum! Aspernatur quaerat amet inventore unde sapiente, odio quae cumque obcaecati nesciunt nobis tempore nihil dolorum nam porro explicabo reprehenderit sint in, voluptatum commodi.
        Odit quod vero saepe repellat totam aspernatur, soluta ea quasi maiores quo alias et. Illum pariatur aspernatur praesentium inventore nesciunt accusamus odit, fuga earum eaque! Aliquid accusamus dolore nostrum quidem?
        Perspiciatis repellendus dolores quo quam inventore repellat, sed atque nostrum voluptatem soluta ad debitis repudiandae saepe ullam quos placeat commodi esse, at temporibus magni earum asperiores aut eveniet. Eius, culpa!
        </p>
    </div>
</div>


<%- include('./partials/footer')-%>

