<%- include('./partials/navbarDashboard.ejs')-%>
<link rel="stylesheet" href="/css/listeUser.css">

<div class="container">
  <h2>Liste des utilisateurs</h2>
  <ul class="responsive-table">
    <li class="table-header">
      <div class="col col-1">users Id</div>
      <div class="col col-2">Name</div>
      <div class="col col-3">Email</div>
      <div class="col col-4">Date Register</div>
    </li>
    <% users.forEach(function(entry) {%>
    <li class="table-row">
      <div class="col col-1" data-label="Job Id"><%=entry.userId%></div>
      <div class="col col-3" data-label="Amount"><%=entry.firstname%> <%=entry.lastname%></div>
      <div class="col col-4" data-label="Payment Status"><%=entry.email%></div>
      <div class="col col-1" data-label="Job Id"><%=entry.DateInscription%></div>
    </li>
    <%});%>
  </ul>
</div>

<%- include('./partials/footer')-%>

